In [2]:
from collections import abc

In [3]:
issubclass(tuple, abc.Sequence)

True

In [4]:
issubclass(list, abc.MutableSequence)

True

### Listas por comprensión

In [6]:
symbols = '$¢£¥€¤'

In [7]:
codes = []

In [8]:
for symbol in symbols:
    codes.append(ord(symbol))

In [9]:
codes

[36, 162, 163, 165, 8364, 164]

In [10]:
symbols = '$¢£¥€¤'

In [11]:
codes = [ord(symbol) for symbol in symbols]

In [12]:
codes

[36, 162, 163, 165, 8364, 164]

In [13]:
symbols = '$¢£¥€¤'

In [14]:
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]

In [15]:
beyond_ascii

[162, 163, 165, 8364, 164]

In [16]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))

In [17]:
beyond_ascii

[162, 163, 165, 8364, 164]

In [21]:
colors = ['black', 'white']

In [22]:
sizes = ['S', 'M', 'L']

In [25]:
tshirts = [(color, size) for color in colors for size in sizes]

In [26]:
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [29]:
tshirts = [(color, size) for size in sizes for color in colors]

In [30]:
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

### Expresiones generadoras

In [31]:
symbols = '$¢£¥€¤'

In [32]:
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [33]:
import array

In [34]:
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [35]:
colors = ['black', 'white']

In [36]:
sizes = ['S', 'M', 'L']

In [37]:
for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

### Tuplas

In [38]:
lax_coordinates = (33.9425, -118.408056)

In [39]:
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)

In [40]:
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

In [41]:
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [42]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

In [43]:
latitude, longitude = lax_coordinates

In [45]:
latitude

33.9425

In [46]:
longitude

-118.408056

In [48]:
divmod(20, 8) # retorna cociente y residuo en una tupla

(2, 4)

In [49]:
t = (20, 8)

In [51]:
divmod(*t)

(2, 4)

In [52]:
quotient, remainder = divmod(*t)

In [53]:
quotient

2

In [54]:
remainder

4

In [55]:
quotient, remainder

(2, 4)

In [56]:
import os

In [57]:
_, filename = os.path.split('/home/marlon/.ssh/id_rsa.pub')

In [58]:
filename

'id_rsa.pub'

In [59]:
_

'/home/marlon/.ssh'

#### * PARA AGARRAR ARTICULOS EXCESOS

In [60]:
a, b, *rest = range(5)

In [61]:
a, b, rest

(0, 1, [2, 3, 4])

In [63]:
a, b, *rest = range(3)

In [64]:
a, b, rest

(0, 1, [2])

In [65]:
a, b, *rest = range(2)

In [66]:
a, b, rest

(0, 1, [])

In [67]:
a, *body, c, d = range(5)

In [68]:
a, body, c, d

(0, [1, 2], 3, 4)

In [69]:
*head, b, c, d = range(5)

In [70]:
head, b, c, d

([0, 1], 2, 3, 4)

#### Desempaquetado de tuplas anidadas

In [2]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [6]:
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

#### Tuplas como listas inmutables

In [9]:
a = (10, 'alpha', [1, 2])

In [15]:
b = (10, 'alpha', [1, 2])

In [16]:
a == b

True

In [17]:
b[-1].append(9)

In [18]:
b

(10, 'alpha', [1, 2, 9])

In [19]:
a == b

False

In [20]:
# Determina si un objeto es hasheable: Si un objecto (tuple) tiene una variable que puede cambiar de valor
def fixed(o):
    try:
        hash(o)
    except TypeError:
        return False
    return True

In [21]:
tf = (10, 'alpha', (1, 2))

In [22]:
tm = (10, 'alpha', [1, 2])

In [23]:
fixed(tf)

True

In [24]:
fixed(tm)

False